
<div *ngIf="showCard" class="card">
    <div class="card-body">
        <h5 class="card-title">Our Services</h5>
        <p class="card-text">We plan trips for families, friends, school excurtions, honeymoon, from the logistics, hotel reservations
            liesure activities, travel insurance with our partners(xyz insurance). We also provide an experience tourist guide whom will 
            accompany our clients and enlighten them on the history of the most famous sites.
        </p>
       
    </div>
</div>
