
  
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container">
      <a class="navbar-brand text-uppercase" href="#packages">Beviacqua Tours</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
              <li class="nav-item"><a class="nav-link" [routerLink]= "'home'">Home</a></li>
              <li class="nav-item"><a class="nav-link" [routerLink]="'service'">Services</a></li>
              <li class="nav-item"><a class="nav-link" [routerLink]= "'packages'">Packages</a></li>
              <li class="nav-item"><a class="nav-link" [routerLink]="'faqs'">FAQs</a></li>
              <li class="nav-item"><a class="nav-link" [routerLink] ="'Termsofterms'">Terms and Conditions</a></li>
       
          </ul>
        
        <app-inquiry></app-inquiry>
        </div>
  </div>
</nav>
