
 <main>     
    
    <div id="vac" class="carousel slide" data-bs-ride="carousel fade">
        <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active c-item">
                    <app-registration></app-registration>
                    <img src="assets\Andaman.jpg" class="d-block w-100 c-img" alt="Andaman">
                    <div class="carousel-caption top-0">
                        <h2 class="text-uppercase">With Beviacqua Tours</h2>
                        <p>Discover some of the hidden Treasures in Europe</p>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#booking-modal">Register</button>
                    </div>
                </div>
                <div class="carousel-item c-item">
                    <img src="assets\waterfall.jpg" class="d-block w-100 c-img" alt="waterfall">
                    <div class="carousel-caption top-0">
                        <h2 class="text-uppercase">All seasons</h2>
                        <p>The diverse culture</p>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#booking-modal">Register</button>
                    </div>
                </div>
                <div class="carousel-item c-item">
                    <img src="assets/rialto.jpg" class="d-block w-100" alt="rialto">
                    <div class="carousel-caption top-0 mt-4">
                        <h2 class="text-uppercase">Visit the most ancient castles</h2>
                        <p>The castles in Austria</p>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#booking-modal">Register</button>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#vac" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#vac" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>  
</main>

<section class="Overview d-flex">
    <div class="container h-100 d-flex align-items-center">
        <div class="row w-100 text-center fs-4">
            <div class="col-xl">
                <i class="bi bi-airplane-fill me-2"></i>
                Amazing Destinations
            </div>
            <div class="col-xl">
                <i class="bi bi-wallet-fill me-2"></i>
                Only pay 5% upfront
            </div>
            <div class="col-xl">
                <i class="bi bi-people-fill me-2"></i>
                More than 1000 tourists annually
            </div>
        </div>
    </div>
</section>

<section id="packages" class="pt-5">
    <h2 class="text-center my-5">Packages</h2>
    <div class="container">
        <div class="row">
            <div class="col-lg">
                <div class="card">
                    <img src="assets/eiffel.jpg" class="card-img-top" alt="eiffel">
                    <div class="card-body">
                        <h5 class="card-title">Family Package</h5>
                        <p class="card-text">Visit Europe as a family unit and create memories.</p>
                        <button>Learn More</button>
                    </div>
                </div>
            </div>

            <div class="col-lg">
                <div class="card">
                    <img src="assets/volcano.jpg" class="card-img-top" alt="volcano">
                    <div class="card-body">
                        <h5 class="card-title">Beautiful Landscapes</h5>
                        <p class="card-text">Breathtaking views in South America</p>
                        <button>Learn More</button>
                    </div>
                </div>
            </div>

            <div class="col-lg">
                <div class="card">
                    <img src="assets/lakecomo.jpg" class="card-img-top" alt="Lake Como">
                    <div class="card-body">
                        <h5 class="card-title">Just Us</h5>
                        <p class="card-text">Special offers for Honeymoon</p>
                        <button>Learn More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

